
#aboutus {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#aboutus .president-section {
    width: 90%;
    padding: 30px 15px;
}

#aboutus .president-section .photo-circle {
    width: 300px;
    height: 300px;
    background: url('../img/president_img.jpg') center no-repeat;
    background-size: cover;
    border: 3px solid #c4a25b;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}