
#aboutus {
    min-height: 100vh;
    color: #2d030b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(#c4a25b99, #ffffff99);
    background-color: #fff;
}

#aboutus .ui.divider {
    width: 70% !important;
}

#aboutus .president-section,
#aboutus .club-history {
    font-family: "Lucida Console", "Courier New", monospace;
}

#aboutus .president-section h2,
#aboutus .club-history h2{
    font-family: 'ANDYB';
    font-size: 2.8rem;
}

#aboutus .president-section {
    width: 70%;
    padding: 30px 15px;
}

#aboutus .club-history {
    width: 70%;
    padding: 30px 15px;
}

#aboutus .president-section .photo-circle {
    width: 300px;
    height: 300px;
    background: url('../img/president_img.jpg') center no-repeat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: cover;
    border: 3px solid #2d030b;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 10px 20px 20px 20px;
}

#aboutus .club-history .photo-circle {
    width: 300px;
    height: 300px;
    background: url('../img/gal_img_2.jpg') center no-repeat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: cover;
    border: 3px solid #2d030b;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 10px 20px 20px 20px;
}

@media (max-width: 800px) {
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    #aboutus .president-section .photo-circle,
    #aboutus .club-history .photo-circle {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }   

    .president-section,
    .club-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;        
        padding: 10px 10px;
    }

    /* .president-section,
    .club-history {
        text-align: justify;
    } */

    .president-section h2,
    .club-history h2 {
         text-align: center;
    }

    #aboutus .president-section {
        width: 90%;
        margin-bottom: 40px;
    }

    #aboutus .club-history {
        width: 90%;
    }
}