
#aboutus {
    height: 100vh;
    color: #2d030b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background: linear-gradient(#c4a25b99, #ffffff99);
    background-color: #fff;
}

#aboutus .president-section {
    width: 70%;
    padding: 30px 15px;
}

#aboutus .club-history {
    width: 70%;
    padding: 30px 15px;
}

#aboutus .president-section .photo-circle {
    width: 300px;
    height: 300px;
    background: url('../img/president_img.jpg') center no-repeat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: cover;
    border: 3px solid #2d030b;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}

#aboutus .club-history .photo-circle {
    width: 300px;
    height: 300px;
    background: url('D:\NSL\nsl_web\src\img\gal_img_2.jpg') center no-repeat;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-size: cover;
    border: 3px solid #2d030b;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
    margin: 20px;
}

@media (max-width: 800px) {
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .president-section,
    .club-history {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 30px;
    }

    .president-section {
        margin-bottom: 40px;
    }
}