
.header-menu {
    position: fixed;
    z-index: 5;
    width: 100%;
}

.btn-background {
    position: absolute;
    z-index: 10;
    right: 35px;
    top: 35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(212,175,55, 0.2);
}

.menu-btn {
    z-index: 10;
    cursor: pointer;
    transition: all 0.5s ease-out;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.btn-line {
    width: 35px;
    height: 3px;
    margin: 3px 0 3px 0;
    background: #fff;
    transition: all 0.5s ease-out;
}

.menu-btn.spin .btn-line.line1 {
    transform: rotate(225deg) translate(-6px, -6px);
}

.menu-btn.spin .btn-line.line2 {
    opacity: 0;
}

.menu-btn.spin .btn-line.line3 {
    transform: rotate(-225deg) translate(-6px, 7px);
}
/* ********* MainMenu ******** */

.main-menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: row;
}

.main-menu.show {
    visibility: visible;
}

.main-menu .menu-branding, .main-menu .menu-nav {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-menu .menu-nav {
    background-color: rgba(58,58,58, 1);
    transform: translate3d(0, -100%, 0);
    transition: all 0.6s ease-in-out;
}

.main-menu .menu-nav.show {
    transform: translate3d(0, 0, 0);
}

.main-menu .menu-branding {
    background-color: rgba(37,37,37, 1);
    transform: translate3d(0, 100%, 0);
    transition: all 0.6s ease-in-out;
}

.main-menu .menu-branding.show {
    transform: translate3d(0, 0, 0);
}

.main-menu .menu-branding .branding-logo {
    height: 400px;
    width: 400px;
}

.main-menu .menu-nav .nav-item {
    font-family: 'ANDYB';
    font-size: 2rem;
    color: #fff;
    padding: 15px 0px;
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-in-out;
}

.main-menu .menu-nav .nav-item.show {
    transform: translate3d(0, 0, 0);
}

.main-menu .menu-nav .nav-item.show#link1 {
    transition-delay: 0.2s;
}

.main-menu .menu-nav .nav-item.show#link2 {
    transition-delay: 0.3s;
}

.main-menu .menu-nav .nav-item.show#link3 {
    transition-delay: 0.4s;
}

.main-menu .menu-nav .nav-item.show#link4 {
    transition-delay: 0.5s;
}

.main-menu .menu-nav .nav-item:hover {
    text-shadow: -0.75px 0.75px 0 #e8491d,
        0.75px 0.75px 0 #e8491d,
        0.75px -0.75px 0 #e8491d,
        -0.75px -0.75px 0 #e8491d;
}

.main-menu .menu-nav .nav-item:active {
    transition: all 0.5 ease-in-out;
    transform: translateX(2.3);
}

/*    Footer   */
.footer-container {
    position: relative;
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    border-top: 3px solid #e8491d;
    border-bottom: 3px solid #e8491d;
    /* background: url('../img/gal_img_2.jpg') center;
    background-position: 0% 45%; */
}

.footer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(68, 71, 71, 0.2);
}

.footer-logo-container {
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.copyright h4 {
    font-family: 'ANDYB' !important;
    font-size: 1.3rem;
    color: #000;
}


/* Screen Size: ............ */

/* Smaller Screens */
@media (max-width:600px) {
    .main-menu {
        display: flex;
        flex-direction: column;
    }

    .main-menu .menu-branding {
        z-index: 8;
        height: 45vh;
        width: 100vw;
        transform: translate3d(0, 1000px, 0);
        transition: all 0.7s ease-in-out;
    }

    .main-menu .menu-branding.show {
        transform: translate3d(0, 0, 0);
    }

    .main-menu .menu-nav {
        padding-bottom: 100px;
        z-index: 6;
        height: 55vh;
        width: 100vw;
        transform: translate3d(0, -1000px, 0);
        transition: all 0.7s ease-in-out;
    }

    .main-menu .menu-nav .nav-item {
        font-size: 1.8rem;
        color: #fff;
        padding: 10px 0px;
    }

    .main-menu .menu-nav.show {
        transform: translate3d(0, 0, 0);
    }

    .main-menu .menu-branding .branding-logo {
        height: 200px;
        width: 200px;
        margin-bottom: 15px;
    }

    .copyright h4 {
        font-size: 1.1rem;
        padding: 10px 0px 10px 0px;
    }
}






