.contacts-container * {
    box-sizing: border-box !important;
    margin: 0%;
    padding: 0%;
}

.contacts-container {
    width: 100vw;
    height: 100vh;    
    background: url('../img/gal_img_2.jpg') center cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 5px 0px;
}

.contacts-container .ui.divider {
    width: 60% !important;
}

.contact-method-container {
    margin: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact-phone, .contact-email, .contact-facebook {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-phone .icon, .contact-email .icon, .contact-facebook .icon {
    text-shadow: -0.75px 0.75px 0 #e8491d,
        0.75px 0.75px 0 #e8491d,
        0.75px -0.75px 0 #e8491d,
        -0.75px -0.75px 0 #e8491d;
}

.contacts-container h1, 
.contacts-container h2, 
.contacts-container h3, 
.contacts-container h4 {
    margin: 3px 0 0 0 !important;
    font-family: 'ANDYB' !important;
}

.contact-big-header h1{
    font-size: 3.5rem !important;
    text-shadow: -0.75px 0.75px 0 #e8491d,
        0.75px 0.75px 0 #e8491d,
        0.75px -0.75px 0 #e8491d,
        -0.75px -0.75px 0 #e8491d;
}

.contact-small-header h3 {
    font-size: 1.5rem !important;
}

.send-message-container {
    margin: 30px 0px;
    width: 60%;
}

.send-message-container .ui.form {
    width: 100%;
}

.send-message-container .ui.button {
    color: #e8491d;
    border: 1px solid #e8491d
}

@media (max-width: 1000px) {

    .contacts-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px;
    }

    .contacts-container .ui.divider {
        margin: 10px 0px 0px 0px;
    }

    .contact-header, .contact-method-container, .send-message-container {
        width: 90%;
    }

    .contact-header {
        word-wrap: break-word;
        text-align: center;
        margin-top: 10px;
    }

    .contact-big-header h1 {
        padding: 0px 30px 0px 30px;
        font-size: 2.2rem !important;
    }

    .contact-small-header h3 {
        padding: 0px 28px 0px 30px;
        font-size: 1.1rem !important;
    }

    .contact-phone, .contact-email, .contact-facebook {
        margin: 0px 0px 10px 0px;
    }
    .contact-phone h4, 
    .contact-email h4, 
    .contact-facebook h4 {
        border: 1px dotted #000;
        padding: 2px 5px;
        border-radius: 5px;
    }

    .contact-method-container {
        margin: 10px 0px 0px 0px;
        width: 60%;
        display: flex;
        flex-direction: column;
    
    }

    .send-message-container .ui.form {
        size: "huge" !important;
        width: 85%;
        margin: auto;
    }


}