.contacts-container * {
    box-sizing: border-box !important;
    margin: 0%;
    padding: 0%;
}

.contacts-container {
    position: relative;
    width: 100vw;
    min-height: 100%;    
    background: url('../img/gal_img_2.jpg') fixed center;
    background-size: cover;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.contact-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 17, 17, 0.9);
}

.contact-header, .contact-method-container, .send-message-container , .contacts-container .ui.divider{
    z-index: 2;
}

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding: 5px 0px;
}

.contacts-container .ui.divider {
    width: 60% !important;
}

.contacts-container .ui.divider .ui.header{
    color: rgb(163, 129, 129);
}

.contact-method-container {
    margin: 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.contact-method-container h3:hover {
    transform: scaleX(1.2);
}

.contact-phone, .contact-email, .contact-facebook {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-phone .icon, .contact-email .icon, .contact-facebook .icon {
    color: #fff;
    text-shadow: -0.75px 0.75px 0 #e8491d,
        0.75px 0.75px 0 #e8491d,
        0.75px -0.75px 0 #e8491d,
        -0.75px -0.75px 0 #e8491d;
    padding-bottom: 30px;
}

.contacts-container h1, 
.contacts-container h2, 
.contacts-container h3, 
.contacts-container h4 {
    margin: 3px 0 0 0 !important;
    font-family: 'ANDYB' !important;
}

.contact-phone h3, .contact-email h3, .contact-facebook h3 {
    font-size: 1.8rem;
}

.contact-phone h4, .contact-email h4, .contact-facebook h4 {
    font-size: 1.3rem;
}

.contact-big-header h1{
    font-size: 3.5rem !important;
    text-shadow: -0.75px 0.75px 0 #e8491d,
        0.75px 0.75px 0 #e8491d,
        0.75px -0.75px 0 #e8491d,
        -0.75px -0.75px 0 #e8491d !important;
}

.contact-small-header h3 {
    font-size: 1.5rem !important;
}

.send-message-container {
    margin: 30px 0px;
    width: 60%;
}

.send-message-container .ui.form {
    width: 100%;
}

.send-message-container .ui.form .field>label {
    font-family: 'ANDYB' !important;
    color: #fff;
    font-size: 1.2rem;
}

.send-message-container .ui.form input,
.send-message-container .ui.form textarea
{
    font-family: 'ANDYB' !important;
    font-size: 1.3rem !important;
    background: rgba(135, 138, 138, 0.3) !important;
    border: 1px solid #fff !important;
    color: #fff !important;
}

.send-message-container .ui.button {
    font-family: 'ANDYB' !important;
    font-size: 1.8rem !important;
    color: #fff;
    border: 1px solid #fff;
    padding: 8px 35px;
    background-color: #e8491d;
}

/* ===================================================== */

@media (max-width: 1000px) {
    .contacts-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 60px;
    }

    .contacts-container .ui.divider {
        margin: 10px 0px 0px 0px;
    }

    .contacts-container .ui.divider::before,
    .contacts-container .ui.divider::after
    {
        transform: scaleY(2) !important;
    }


    .contact-header, .contact-method-container, .send-message-container {
        width: 90%;
    }

    .contact-header {
        word-wrap: break-word;
        text-align: center;
        margin: 10px 0px 20px 0px;
    }

    .contact-big-header h1 {
        padding: 5px 30px 5px 30px;
        font-size: 2.2rem !important;
        text-shadow: -1.25px 1.25px 0 #e8491d,
        1.25px 1.25px 0 #e8491d,
        1.25px -1.25px 0 #e8491d,
        -1.25px -1.25px 0 #e8491d !important;
    }

    .contact-small-header h3 {
        padding: 0px 28px 0px 30px;
        font-size: 1.1rem !important;
    }

    .contact-phone, .contact-email, .contact-facebook {
        margin: 0px 0px 20px 0px;
    }

    .contact-phone .icon, .contact-email .icon, .contact-facebook .icon {
        text-shadow: -1.25px 1.25px 0 #e8491d,
        1.25px 1.25px 0 #e8491d,
        1.25px -1.25px 0 #e8491d,
        -1.25px -1.25px 0 #e8491d !important;
    }

    .contact-phone h4, 
    .contact-email h4, 
    .contact-facebook h4 {
        padding: 2px 5px;
        border-radius: 5px;
    }

    .contact-method-container {
        margin: 10px 0px 0px 0px;
        width: 60%;
        display: flex;
        flex-direction: column;
    
    }

    .send-message-container .ui.form {
        size: "huge" !important;
        width: 85%;
        margin: auto;
    }


}