
@font-face {
  font-family: 'edo sz';
  src: local('edo sz'), url(./fonts/edosz.ttf) format('truetype')
}

@font-face {
  font-family: 'ANDYB';
  src: local('ANDYB'), url(./fonts/ANDYB.TTF) format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  color: #fff;
  background-color: #444;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}