#sponsors {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: url('../img/sponsors/sponsors_bg_img_1.jpg') bottom no-repeat; */
    background: linear-gradient(rgba(45, 3, 11, 0.95), rgba(196, 162, 91, 0.95)), url('../img/sponsors/sponsors_bg_img_1.jpg') bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

#sponsors h1, #sponsors h2, #sponsors h3, #sponsors h4, #sponsors h5 {
    font-family: 'Open Sans', 'Lato';
}

#sponsors .sp-header {
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 20px 0px;    
}

#sponsors .sp-header h2{
    font-size: 3.8rem;
    text-shadow:    -1.5px 1.5px 0 #2d030b,
                    1.5px 1.5px 0 #2d030b,
                    1.5px -1.5px 0 #2d030b,
                    -1.5px -1.5px 0 #2d030b;
    padding-bottom: 0px;
}

#sponsors .sp-header h3{
    font-size: 2.2rem;
    margin-top: 5px !important;
}

#sponsors .sponsor-logos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 15px;
    /* border-radius: 20px; */
}

#sponsors .sponsor-logos .main-sponsors,
#sponsors .sponsor-logos .secondary-sponsors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#sponsors .sponsor-logos .main-sponsors .m-sp {
    min-height: 150px;
    min-width: 450px;
    margin-bottom: 20px;
}

#sponsors .sponsor-logos .secondary-sponsors .s-sp {
    min-height: 60px;
    min-width: 250px;
    margin-top: 20px;
}

#sponsors .sponsor-logos .main-sponsors .bemnt-tiles {
    background: url('../img/sponsors/bemnt-tiles.jpg') center no-repeat;
    background-size: contain;
    margin-right: 20px;
}

#sponsors .sponsor-logos .main-sponsors .med-practice {
    background: url('../img/sponsors/med-prac.png') center no-repeat;
    background-size: contain;
}

#sponsors .sponsor-logos .secondary-sponsors .fintax {
    min-height: 50px;
    min-width: 200px;
    background: url('../img/sponsors/finTax.jpg') center no-repeat;
    background-size: contain;
}

#sponsors .sponsor-logos .secondary-sponsors .aussie {
    background: url('../img/sponsors/aussie.jpg') center no-repeat;
    background-size: contain;
}

#sponsors .sponsor-logos .secondary-sponsors .rma {
    background: url('../img/sponsors/rma.jpg') center no-repeat;
    background-size: contain;
}

/* #sponsors .sp-quote {
    margin-top: 70px;
}

#sponsors .sp-quote h3{
    font-size: 2.5rem;
    text-align: center;
} */


@media (max-width:800px) {
    #sponsors {
        flex-direction: column;
        align-items: center;
        padding: 0 5vw;
    }

    #sponsors .sponsor-logos {
        margin-bottom: 5px;
    }

    #sponsors .sp-header h2 {
        text-align: center;
        margin-top: 40px;
    }

    #sponsors .sp-header h3 {
        font-size: 1.5rem;
        text-align: center;
    }

    #sponsors .sponsor-logos .main-sponsors .m-sp {
        min-height: 10vh;
        max-width: 90vw;
        margin-bottom: 30px;
    }

    #sponsors .sponsor-logos .secondary-sponsors .s-sp {
        min-height: 6vh;
        max-width: 80vw;
        margin-bottom: 20px;
    }

    #sponsors .sponsor-logos .secondary-sponsors .fintax {
        min-height: 5vh;
    }

    #sponsors .sponsor-logos .main-sponsors,
    #sponsors .sponsor-logos .secondary-sponsors {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #sponsors .sp-quote {
        margin: 40px 0px;
    }

    #sponsors .sp-quote h3{
        font-size: 1.5rem;
    }
}